@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

body {
  background-color: rgb(48, 48, 48);
  background-image: url(https://shorturl.at/nILP6);
  font-weight: bolder;
  color: rgb(7, 73, 148);
  overflow: hidden;
  object-fit: cover;
}
.heading {
  color: #30475e;
  font-size: 50px;
  margin-top: 350px;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.card {
  width: 30rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  overflow: hidden;
  padding: 16px;
  border-radius: 12px;
  border-color: rgba(11, 28, 38, 0.771);
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}
.text {
  padding: 2px 3px;
}
input {
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
}
.btn {
  border-radius: 3px;
  margin-left: 150px;
}
.card-header {
  background-color: rgba(11, 28, 38, 0.771);
  color: white;
}
.navbar {
  background-color: rgb(33, 37, 41);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000000;
}
.nav-item {
  padding: 10px;
  margin-top: 10px;
}
.nav-link {
  text-decoration: underline;
}
.nav-items {
  margin-top: 10px;
  margin-left: 5px;
}
img {
  border-radius: 10px;
  filter: drop-shadow(0 0 0.55rem rgb(174, 140, 146));
  background-color: rgba(0, 0, 0, 0.2);
}
.text {
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.manage-systems {
  text-align: left;
  padding-left: 20px;
}
.brand {
  color: white;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: auto;
}
.conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }
}

h1 {
  font-size: 16em;
  font-family: "Caveat", cursive;
  margin-left: 1200px;
}

h1 span {
  display: block;
  float: left;
  animation: animate 2.25s linear infinite;
  margin: 0 5px;
  margin-top: 50px;
  padding: 0;
  position: relative;
  color: #111;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.25s;
}
h1 span:nth-child(2) {
  animation-delay: 0.5s;
}
h1 span:nth-child(3) {
  animation-delay: 0.75s;
}
h1 span:nth-child(4) {
  animation-delay: 1s;
}
h1 span:nth-child(5) {
  animation-delay: 1.25s;
}
h1 span:nth-child(6) {
  animation-delay: 1.5s;
}
h1 span:nth-child(7) {
  animation-delay: 1.75s;
}

@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00bbff, 0 0 20px #00bbff, 0 0 40px #00bbff,
      0 0 80px #00bbff, 0 0 120px #00bbff, 0 0 200px #00bbff, 0 0 300px #00bbff,
      0 0 400px #00bbff;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}
